@if (holidayPeriod){
<div class="holiday-period-details
-details">
    @if (!isEditing){
    <div>
        <p><strong>ID:</strong> {{ holidayPeriod.id }}</p>
        <p><strong>Start Date:</strong> {{ holidayPeriod.periodDate.initDate | date:'yyyy-MM-dd' }}</p>
        <p><strong>End Date:</strong> {{ holidayPeriod.periodDate.finalDate | date:'yyyy-MM-dd' }}</p>
        <button (click)="edit()">Edit</button>
        <button [routerLink]="['/holidays']">Close</button>
    </div>
    } @else {
    <div>
        <p><strong>ID:</strong> {{ localHolidayPeriod!.id }}</p>
        <label>
            Start Date:
            <input type="date" [(ngModel)]="localHolidayPeriod!.periodDate.initDate" />
        </label>
        <label>
            End Date:
            <input type="date" [(ngModel)]="localHolidayPeriod!.periodDate.finalDate" />
        </label>
        <button (click)="onEdit()" [disabled]="!hasChanges()">Confirm</button>
        <button (click)="onCancel()">Cancel</button>
    </div>
    }
</div>
} @else {
<p>HolidayPeriod no details</p>
}