<h1 class="title">Users</h1>

<table class="user-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" (click)="handleUserSelected(user)">
            <td>{{ user.names }} {{ user.surnames }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.periodDateTime._initDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ user.periodDateTime._finalDate | date: 'yyyy-MM-dd' }}</td>
        </tr>
    </tbody>
</table>