@if (holidayPeriodDetails()){
<div class="holiday-period-details
-details">
    @if (!isEditing){
    <div>
        <p><strong>ID:</strong> {{ holidayPeriodDetails()!.id }}</p>
        <p><strong>Start Date:</strong> {{ holidayPeriodDetails()!.periodDate.initDate | date:'yyyy-MM-dd' }}</p>
        <p><strong>End Date:</strong> {{ holidayPeriodDetails()!.periodDate.finalDate | date:'yyyy-MM-dd' }}</p>
        <button (click)="edit()">Edit</button>
    </div>
    } @else {
    <div>
        <p><strong>ID:</strong> {{ localHolidayPeriod!.id }}</p>
        <label>
            Start Date:
            <input type="date" [(ngModel)]="localHolidayPeriod!.periodDate.initDate" />
        </label>
        <label>
            End Date:
            <input type="date" [(ngModel)]="localHolidayPeriod!.periodDate.finalDate" />
        </label>
        <button (click)="onEdit()">Confirm</button>
        <button (click)="onCancel()">Cancel</button>
    </div>
    }
</div>
} @else {
<p></p>
}