<button class="add-project-button" (click)="openProjectForm()">Add Project</button>

@if (showProjectForm) {
<form [formGroup]="projectForm" class="project-form">
    <div class="form-row">
        <label>
            Title:
            <input type="text" formControlName="title">
        </label>
        <label>
            Acronym:
            <input type="text" formControlName="acronym">
        </label>
        <div formGroupName="periodDate">
            <label>
                Start Date:
                <input type="date" formControlName="initDate">
            </label>
            <label>
                End Date:
                <input type="date" formControlName="finalDate">
            </label>
        </div>
    </div>

    <button type="button" (click)="submitProject()">Confirm</button>
    <button type="button" (click)="onCancel()">Cancel</button>
</form>
}