<h1 class="title">Associations</h1>

<table class="association">
    <thead>
        <tr>
            <th>Collaborator ID</th>
            <th>Project ID</th>
            <th>Project Acronym</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let association of associations()" (click)="handleAssociationSelected(association)">
            <td>{{ association.collaboratorId }}</td>
            <td>{{ association.projectId }}</td>
            <td>{{ association.projectAcronym }}</td>
            <td>{{ association.periodDate.initDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ association.periodDate.finalDate | date: 'yyyy-MM-dd' }}</td>
        </tr>
    </tbody>
</table>