@if (collaborator) {
<div class="collaborator-details">
    <div>
        <p><strong>ID:</strong> {{ collaborator.collabId }}</p>
        <p><strong>User ID:</strong> {{ collaborator.userId }}</p>
        <p><strong>First Name:</strong> {{ collaborator.names }}</p>
        <p><strong>Last Name:</strong> {{ collaborator.surnames }}</p>
        <p><strong>Email:</strong> {{ collaborator.email }}</p>
        <p><strong>Collab Start Date:</strong> {{ collaborator.collaboratorPeriod._initDate | date: 'yyyy-MM-dd' }}</p>
        <p><strong>Collab End Date:</strong> {{ collaborator.collaboratorPeriod._finalDate | date: 'yyyy-MM-dd' }}</p>
        <p><strong>User Start Date:</strong> {{ collaborator.userPeriod._initDate | date: 'yyyy-MM-dd' }}</p>
        <p><strong>User End Date:</strong> {{ collaborator.userPeriod._finalDate | date: 'yyyy-MM-dd' }}</p>
        <button class="edit-collaborator-button" (click)="editCollaborator(collaborator)"
            [routerLink]="['/collaborators', collaborator.collabId, 'edit']">Edit</button>
        <button class="edit-collaborator-button" [routerLink]="['/collaborators']">Cancel</button>
        <router-outlet></router-outlet>
    </div>
</div>
} @else {
<p>Collab no details</p>
}