@if (collaborator) {
<div class="collaborator-details">
    @if (!isEditing) {
    <div>
        <p><strong>ID:</strong> {{ collaborator.collabId }}</p>
        <p><strong>User ID:</strong> {{ collaborator.userId }}</p>
        <p><strong>First Name:</strong> {{ collaborator.names }}</p>
        <p><strong>Last Name:</strong> {{ collaborator.surnames }}</p>
        <p><strong>Email:</strong> {{ collaborator.email }}</p>
        <p><strong>Collab Start Date:</strong> {{ collaborator.collaboratorPeriod._initDate | date: 'yyyy-MM-dd' }}</p>
        <p><strong>Collab End Date:</strong> {{ collaborator.collaboratorPeriod._finalDate | date: 'yyyy-MM-dd' }}</p>
        <p><strong>User Start Date:</strong> {{ collaborator.userPeriod._initDate | date: 'yyyy-MM-dd' }}</p>
        <p><strong>User End Date:</strong> {{ collaborator.userPeriod._finalDate | date: 'yyyy-MM-dd' }}</p>
        <button (click)="edit()">Edit</button>
        <button [routerLink]="['/collaborators']">Close</button>
    </div>
    } @else {
    <div>
        <p><strong>ID:</strong> {{ localCollaborator!.collabId }}</p>
        <p><strong>User ID:</strong> {{ localCollaborator!.userId }}</p>
        <label>
            First Name:
            <input [(ngModel)]="localCollaborator!.names" />
        </label>
        <label>
            Last Name:
            <input [(ngModel)]="localCollaborator!.surnames" />
        </label>
        <label>
            Email:
            <input [(ngModel)]="localCollaborator!.email" />
        </label>
        <label>
            Collab Start Date:
            <input type="date" [(ngModel)]="localCollaborator!.collaboratorPeriod._initDate" />
        </label>
        <label>
            Collab End Date:
            <input type="date" [(ngModel)]="localCollaborator!.collaboratorPeriod._finalDate" />
        </label>
        <p><strong>User Start Date:</strong> {{ localCollaborator!.userPeriod._initDate }}</p>
        <p><strong>User End Date:</strong> {{ localCollaborator!.userPeriod._finalDate }}</p>
        <button (click)="onEdit()">Confirm</button>
        <button (click)="onCancel()">Cancel</button>
    </div>
    }
</div>
} @else {
<p>Collab no details</p>
}