<form [formGroup]="collaboratorForm" class="collaborator-form">
    <div class="form-row">
        <label>
            Name:
            <input type="text" formControlName="names">
        </label>
        <label>
            Surnames:
            <input type="text" formControlName="surnames">
        </label>
        <label>
            Email:
            <input type="email" formControlName="email">
        </label>
        <label>
            Deactivation Date:
            <input type="date" formControlName="deactivationDate">
        </label>
        <div formGroupName="periodDateTime">
            <label>
                Start Date:
                <input type="date" formControlName="_initDate">
            </label>
            <label>
                End Date:
                <input type="date" formControlName="_finalDate">
            </label>
        </div>
    </div>

    <button type="button" [routerLink]="['/collaborators']" (click)="submitCollaborator()"
        [disabled]="collaboratorForm.invalid">
        {{ this.serviceForm.isEditingCollaboratorForm() ? "Save" : "Add" }}</button>
    <button
        [routerLink]=" this.serviceForm.isEditingCollaboratorForm() ? ['/collaborators', this.serviceForm.isEditingCollaboratorForm()?.collabId] : ['/collaborators']">Close</button>
</form>