<h1 class="title">Collaborators</h1>

<app-search-bar class="search-bar-container" #search [itemsSignal]="collaborators"
    [filterKeys]="['names', 'surnames', 'email', 'collaboratorPeriod._initDate']"></app-search-bar>

<table class="collaborators-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Associations</th>
            <th>Holidays</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let collaborator of search.filteredItems()" [routerLink]="[collaborator.collabId]">
            <td>{{ collaborator.names }} {{ collaborator.surnames }}</td>
            <td>{{ collaborator.email }}</td>
            <td>{{ collaborator.collaboratorPeriod._initDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ collaborator.collaboratorPeriod._finalDate | date: 'yyyy-MM-dd' }}</td>
            <td><button [routerLink]="[collaborator.collabId, 'associations']"
                    (click)="$event.stopPropagation()">Assocations</button>
            </td>
            <td><button [routerLink]="[collaborator.collabId, 'holidays']"
                    (click)="$event.stopPropagation()">Holidays</button>
            </td>
        </tr>
    </tbody>
</table>

<button class="add-collaborator-button" (click)="addCollaborator()" [routerLink]="['add']">Add Collaborator</button>

<router-outlet></router-outlet>