<h1 class="title">Collaborators</h1>

<table class="collaborators-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Associations</th>
            <th>Holidays</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let collaborator of collaborators()" (click)="handleCollaboratorSelected(collaborator)">
            <td>{{ collaborator.names }} {{ collaborator.surnames }}</td>
            <td>{{ collaborator.email }}</td>
            <td>{{ collaborator.collaboratorPeriod._initDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ collaborator.collaboratorPeriod._finalDate | date: 'yyyy-MM-dd' }}</td>
            <td><button (click)="openAssociations(collaborator.collabId); $event.stopPropagation()">Assocations</button>
            </td>
            <td><button (click)="openHolidays(collaborator.collabId); $event.stopPropagation()">Holidays</button>
            </td>
        </tr>
    </tbody>
</table>
<button class="add-collaborator-button" (click)="createEmptyCollaborator()">Add Collaborator</button>
@if (showButtons) {
<form [formGroup]="form" class="collaborator-form">
    <div formArrayName="collaborators" class="add-collaborators-form">
        <div *ngFor="let group of collaboratorsForm.controls; let i = index" [formGroupName]="i" class="form-row">
            <label>
                Name:
                <input type="text" formControlName="names">
            </label>
            <label>
                Surnames:
                <input type="text" formControlName="surnames">
            </label>
            <label>
                Email:
                <input type="email" formControlName="email">
            </label>
            <label>
                Deactivation Date:
                <input type="date" formControlName="deactivationDate">
            </label>
            <label>
                Start Date:
                <input type="date" formControlName="_initDate">
            </label>
            <label>
                End Date:
                <input type="date" formControlName="_finalDate">
            </label>
        </div>


        <button type="button" (click)="submitNewCollaborator()">Confirm</button>
        <button type="button" (click)="onCancel()">Cancel</button>

    </div>
</form>
}

@if (selectedHolidaysCollaboratorId) {
<app-holiday-period [collaboratorId]="selectedHolidaysCollaboratorId" />
<app-holiday-period-details [collaboratorId]="selectedHolidaysCollaboratorId"></app-holiday-period-details>
}

@if (selectedAssociationsCollaboratorId) {
<app-association-proj-collab [collaboratorId]="selectedAssociationsCollaboratorId" />
<app-association-proj-collab-details
    [collaboratorId]="selectedAssociationsCollaboratorId"></app-association-proj-collab-details>
}