<h1 class="title">Holidays</h1>

<table class="holiday-period-table">
    <thead>
        <tr>
            <th>Holiday Period ID</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let holidayPeriod of holidayPeriods()" [routerLink]="[holidayPeriod.id]">
            <td>{{ holidayPeriod.id }}</td>
            <td>{{ holidayPeriod.periodDate.initDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ holidayPeriod.periodDate.finalDate | date: 'yyyy-MM-dd' }}</td>
        </tr>
    </tbody>
</table>

<button class="add-holiday-period-button" (click)="addHolidayPeriod()" [routerLink]="['add']">Add HolidayPeriod</button>

<router-outlet></router-outlet>